/* form desing */
.form_area{
    width: 600px;
    height: 400px;
    background-color: #ffff;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
    margin:20px auto;
    
}
.form_group{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
 .form_input{
    height: 30px;
    flex-basis: 50%;
    border-radius: 2px;
   
}
.form_label{
    /* margin-left:10px; */
    flex-basis: 15%;
    font-weight: bold;
    margin-bottom:10px;
}
form.custom_form {
    padding: 20px 0px 0px 0px;
    /* display: flex;
    flex-direction: column; */
    
}
.btn_width{
    display: flex;
    margin-left: 45%;
    
}
.btn{
    padding: 10px 10px;
    background-color: blueviolet;
    color: #ffff;
    border: 1px solid blueviolet;
    border-radius: 3px;
    height: auto;
}
.btn:hover{
    padding: 10px 10px;
    background-color: rgb(130, 3, 248);
    color: #ffff;
    border: 1px solid rgb(132, 0, 255);
    border-radius: 3px;
}
#btn-add{
    margin-left: 5px;
}
.heading{
    text-align: center;
}

/* table desing */

.studentList{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 50px;
}

/* .studentList > tr{
    border:1px solid black;
} */

.studentList >thead > tr > th{
    border:1px solid black;
    padding:5px;
}

.studentList > tbody > tr > td{
    border:1px solid black;
    padding:5px;
}
